/* This is the light theme with minor adjustments: https://github.com/upptime/status-page/blob/master/static/themes/light.css */

:root {
  --body-background-color: #ffffff; /*adjusted*/
  --body-text-color: #002626;
  --card-background-color: #ffffff;
  --nav-background-color: #ffffff;
  --nav-border-bottom-color: #d8e8e4;
  --nav-current-border-bottom-color: #1abc9c;
  --card-border-color: #d8e8e4;
  --down-border-left-color: #E5004A; /*adjusted*/
  --down-background-color: #ffd0d2;
  --degraded-border-left-color: #FCCD22; /*adjusted*/
  --up-border-left-color: #039C7D; /*adjusted*/
  --tag-color: #ffffff;
  --tag-up-background-color: #039C7D; /*adjusted*/
  --tag-down-background-color: #E5004A; /*adjusted*/
  --tag-degraded-background-color: #FCCD22; /*adjusted*/
  --change-background-color: #FCCD22; /*adjusted*/
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 0;
  --graph-filter: none;
}

