/*
Todo:
- Logo smaller
- Change color of graphs on secondary page ?
- Change styling of article boxes ?
*/

nav {
  /*height: 58px;*/
  box-sizing: border-box;
  background-image: linear-gradient(to right, #164293, #89037a);
  font-family: Manrope, sans-serif !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
}

/*Decrease ETAS logo size*/
nav img {
  transform: scale(0.5); /* Scale the images by 0.5 */
  display: inline-block;  /* Ensures the image scales properly */
  transition: transform 0.3s ease; /* Optional: Smooth scaling */
}

/*Remove graphs on main status page
article.graph {
  background-image: none !important;
}
*/

/*Adjust color of charts on main status page
article.graph {
  background-color: #164293;
  background-blend-mode: multiply;
}

*/

article {
    position: relative;
}

article::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #164293;
    mix-blend-mode: color;
    pointer-events: none;
}

/*Custom Manrope font*/

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraLight.ttf');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraLight.ttf');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Light.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Medium.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraBold.ttf');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraBold.ttf');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-ExtraBold.ttf');
  font-weight: 1000;
  font-display: swap;
}